@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  background-color: #313131;
  font-family: Pixel;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(30) 1s forwards;
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMonoVF.woff") format("woff");
}

.font-GeistMono {
  font-family: GeistMono;
}
